
	* {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		border: 0;
	}
	html {
		font: 400 18px/1.75 'Open Sans';
	}


	.content {
		padding: 0 50px 100px;
		margin: 0 auto;
		max-width: 100%;
		width: 1400px;
	}


@media ( max-width: 800px ) {

	.content {
		padding: 20px;
	}
}
